<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sticky Footer Navbar Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/assets/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/sticky-footer-navbar.css" rel="stylesheet">
    </head>
    <body>

        <!-- Begin page content -->
        <div class="container" id="app">
            <div class="page-header"></div>
            <ul id="tm-list"></ul>
        </div>

        <script src="vendor/assets/components/jquery/jquery.min.js"></script>
        <script src="vendor/assets/components/underscore/underscore-min.js"></script>
        <script src="vendor/assets/components/underscore.string/lib/underscore.string.js"></script>
        <script src="vendor/assets/components/backbone/backbone-min.js"></script>
        <script src="vendor/assets/components/backbone.localStorage/backbone.localStorage-min.js"></script>
        <script src="vendor/assets/components/Ractive/Ractive.js"></script>
        <script src="vendor/assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>

        <!-- template -->
        <script type="text/template" id="header-template">
            <h1><%- year %> / <%- month %></h1>
        </script>

        <script type="text/template" id="item-template">
            <div class="tm-item">
                <span><%- day %></span>
                <input type="text" value="<%- start %>">
                <input type="text" value="<%- end %>">
                <input type="text" value="<%- rest %>">
                <button class="item-del btn btn-min">Del</button>
            </div>
        </script>

    </body>
</html>
